{% import "_includes/forms" as forms %}

{{ forms.textField({
    label: "Heading"|t('sprout-notes'),
    name: 'heading',
    value: widget.heading,
    errors: widget.getErrors('heading')
}) }}

{{ forms.textareaField({
    label: "Notes"|t('sprout-notes'),
    name: 'notes',
    class: 'sprout-notes redactor',
    value: widget.notes,
    errors: widget.getErrors('notes')
}) }}

{{ forms.selectField({
    label: "Output As"|t('sprout-notes'),
    id: 'output',
    name: 'output',
    options: widget.options,
    value: (widget.output is defined) ? widget.output : '',
}) }}

{% css %}
    textarea.text.sprout-notes {
        min-height: 200px;
    }
{% endcss %}
